@use '../variables' as *;

.checkout {
  h2 {
    color: $black;
  }

  .swiper {
    overflow: hidden;
    @media (max-width: 767px) {
      margin: 0 -20px;
    }
  }

  .swiper-slide {
    transform: scale(.8) !important;
    opacity: 0.6;
    transition: transform .3s, opacity .3s;
    max-width: 320px;
    @media (min-width: 768px) {
      max-width: 100%;
    }
  }

  .swiper-pagination-custom {
    display: flex;
    justify-content: center;
    gap: 0 16px;
    margin-top: 50px;
  }

  .swiper-slide-active {
    transform: scale(1) !important;
    opacity: 1;
  }

  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
  }

  .swiper-pagination-bullet {
    background-color: $royal-blue;
  }
}