@use '../variables' as *;

.checkout {
  h2 {
    color: $black;
  }

  &__slider-container {
    position: relative;
    max-width: 1290px;
    @media (max-width: 767px) {
      padding-left: 0;
      padding-right: 0;
    }
    @media (min-width: 1440px) {
      padding-left: 0;
      padding-right: 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -15%) scale(.71);
      display: block;
      width: 320px;
      height: 690px;
      background-image: url("../images/checkout-mockup.png");
      border-radius: 40px;
      z-index: 3;
      @media (min-width: 768px) {
        transform: translate(-50%, -15%) scale(.74);
      }
      @media (min-width: 1200px) {
        transform: translateX(-50%) scale(1.05);
      }
    }
  }

  &__image {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    @media (min-width: 1200px) {
      border-radius: 40px;
    }
  }

  .swiper-slide {
    width: 220px;
    @media (min-width: 768px) {
      width: 228px;
    }
    @media (min-width: 1200px) {
      width: 320px;
    }
    transform: scale(.77) !important;
    transition: transform .3s ease-in-out;
  }

  .swiper-slide-active {
    transform: scale(1) !important;
    z-index: 2;
  }

  .swiper-slide-prev {
    z-index: 1;
  }

  .swiper-slide-next {
    z-index: 1;
  }

  .slide-before-prev {
    opacity: 0;
    z-index: 0;
    @media (min-width: 768px) {
      transform: translateX(200px) scale(.77) !important;
      opacity: .5;
    }
    @media (min-width: 820px) {
      opacity: 0;
    }
    @media (min-width: 1200px) {
      transform: translateX(235px) scale(.77) !important;
    }
    @media (min-width: 1440px) {
      opacity: 0.5;
    }
  }

  .slide-after-next {
    opacity: 0;
    z-index: 0;
    @media (min-width: 768px) {
      transform: translateX(-200px) scale(.77) !important;
      opacity: .5;
    }
    @media (min-width: 820px) {
      opacity: 0;
    }
    @media (min-width: 1200px) {
      transform: translateX(-235px) scale(.77) !important;
    }
    @media (min-width: 1440px) {
      opacity: 0.5;
    }
  }

  .swiper-pagination-bullet {
    background-color: $royal-blue;

    &:before {
      border-color: $royal-blue;
    }
  }

  .swiper-button-prev-custom,
  .swiper-button-next-custom {
    display: none;
    @media (min-width: 1200px) {
      display: flex;
    }
  }
}
