@use '../variables' as *;

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 36px;

  &__intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__contacts {
    display: flex;
    gap: 0 48px;

    a {
      display: flex;
      align-items: center;
      transition: color .25s ease-in-out;

      &:hover {
        color: $black;
      }
    }

    svg {
      width: 24px;
      height: 24px;
    }

    span {
      margin-left: 18px;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 0 32px;

    a {
      display: flex;
      transition: color .25s ease-in-out;

      &:hover {
        color: $black;
      }
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__main {
    margin-top: 16px;
  }

  &__nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    background-color: $white;
    border-radius: 6px;
    box-shadow: 0 1px 10px 0 rgba($black, 0.1);

    ul {
      display: flex;
      align-items: center;
      margin: 0;
      list-style: none;

      > li {
        //padding: 10px 20px;
      }

      a {
        padding: 10px 20px;
        color: $black;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: none;
        transition: color .25s ease-in-out;
        &:hover {
          color: $royal-blue;
        }
        &.active {
          color: $royal-blue;
          text-decoration: underline;
        }
        &.header__btn {
          padding: 10px 16px;
          margin-left: 20px;
          color: $white;
          background-color: $royal-blue;
          border-radius: 6px;
          transition: background-color .25s ease-in-out;
          &:hover {
            background-color: $black;
          }
        }
      }
    }
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 90px;
    padding: 16px;
    background-color: $white;
    border-radius: 6px;
    box-shadow: 0 1px 10px 0 rgba($black, 0.1);

    img {
      max-width: 168px;
    }
  }
}