@use '../variables' as *;

.header--mobile {
  @media (min-width: 1440px) {
    display: none;
  }
}

.burger-btn {
  margin-left: 14px;
  cursor: pointer;

  span {
    display: block;
    width: 28px;
    height: 3px;
    margin: 6px 0;
    background-color: $black;
    transition: transform .25s ease-in-out, opacity .25s ease-in-out;
  }

  &.open {
    .bar-1 {
      transform: translate(0, 9px) rotate(-45deg);
    }

    .bar-2 {
      opacity: 0;
    }

    .bar-3 {
      transform: translate(0, -9px) rotate(45deg);
    }
  }
}

.header__mob-menu {
  position: relative;
  display: none;
  padding: 32px 40px;
  max-width: 280px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 10px 100px 0 rgba(35, 34, 51, 0.24);
  z-index: 10;

  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-size: 16px;
    list-style: none;
    @media (min-width: 768px) {
      font-size: 20px;
    }

    a {
      &.active {
        color: $royal-blue;
      }
    }

  }

  li {
    padding: 8px 0;
  }

  a {
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
  }

  &.open {
    display: block;
    @media (min-width: 1440px) {
      display: none;
    }
  }
}