@use '../variables' as *;

.hero {
  padding-top: 220px;
  padding-bottom: 80px;
  min-height: 100vh;
  background: $royal-blue 50% / cover url("../images/hero-bg-2.png") no-repeat;

  &__inner {
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      gap: 0 16px;
    }
  }

  &__left {
    display: flex;
    justify-content: center;
    @media (min-width: 768px) {
      flex: 0 0 60%;
      justify-content: flex-start;
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    @media (min-width: 768px) {
      flex: 0 0 40%;
      justify-content: flex-start;
      margin-top: 0;
    }
  }

  &__box {
    position: relative;
    padding: 40px 30px;
    max-width: 570px;
    width: calc(100% - 20px);
    background-color: $white;
    z-index: 1;

    h1 {
      margin: 0 0 18px;
      color: $royal-blue;
    }

    h3 {
      margin: 50px 0 16px;
      color: $black;
    }
  }

  &__box-wrapper {
    position: relative;
  }

  &__box-border {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    display: block;
    width: calc(100% - 20px);
    height: calc(100% + 40px);
    border: 10px solid #7572FF;
    z-index: 0;
    @media (min-width: 768px) {
      left: 10px;
      width: 100%;
      height: calc(100% + 60px);
      border-width: 18px;

    }
    @media (min-width: 1440px) {
      left: 52px;
      height: calc(100% + 104px);
    }
  }

  &__download-links {
    display: flex;
    align-items: center;
    gap: 0 14px;

    a {
      transition: opacity .25s ease-in-out;
      &:hover {
        opacity: .8;
      }
    }

    img {
      max-height: 150px;
    }
  }
}