@use '../variables' as *;
@use '../mixins' as *;

.team {
  padding-top: 130px;
  @media (min-width: 768px) {
    padding-top: 240px;
  }
  @media (min-width: 1200px) {
    padding-top: 280px;
  }

  h2 {
    color: $black;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    @media (min-width: 768px) {
      flex-direction: row;
      gap: 24px;
    }
    @media (min-width: 1200px) {
      gap: 30px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px 50px;
    border-radius: 10px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    @media (min-width: 768px) {
      flex-basis: calc(33.3% - 12px);
      padding: 30px 6px;
    }

    @media (min-width: 1200px) {
      flex-basis: calc(33.3% - 15px);
      padding: 30px 20px 50px;
    }

    &:hover {
      .team__image svg {
        transform: rotate(45deg);
      }
    }
  }

  &__image {
    position: relative;
    width: 220px;
    height: 220px;
    margin-bottom: 60px;
    @media (min-width: 768px) {
      width: 180px;
      height: 180px;
      margin-bottom: 10px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 60px;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200px;
      height: 200px;
      border-radius: 50%;
      @media (min-width: 768px) {
        width: 160px;
        height: 160px;
      }
    }

    svg {
      position: absolute;
      width: 220px;
      height: 220px;
      transition: transform .25s ease-in-out;
      @media (min-width: 768px) {
        width: 180px;
        height: 180px;
      }
    }
  }

  &__text {
    text-align: center;
    max-width: 400px;
  }

  h3 {
    margin: 0;
    color: $black;
    font-size: 25px;
    font-weight: 700;
    @media (min-width: 768px) {
      font-size: 20px;
      font-weight: 600;
    }
    @media (min-width: 1200px) {
      font-size: 32px;
      font-weight: 700;
    }
  }

  h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    @media (min-width: 768px) {
      font-size: 16px;
      font-weight: 400;
    }
    @media (min-width: 1200px) {
      font-size: 20px;
      font-weight: 600;
    }
  }

  &__socials {
    @include socials;
    margin-top: 14px;

    a {
      color: $black;
      border-color: $black;
    }
  }
}