@use 'variables' as *;

/*Basic Swiper styles*/

// Pagination bullets
.swiper-pagination-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 8px;
  height: 22px;
  margin-top: 40px;
  @media (min-width: 768px) {
    margin-top: 60px;
  }

  .swiper-pagination-bullet {
    position: relative;
    width: 16px;
    height: 16px;
    background-color: $white;
    opacity: 1;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 21px;
      height: 21px;
      background: transparent;
      border: 1px solid $white;
      border-radius: 50%;
      opacity: 0;
      transition: opacity .25s ease-in-out;
    }

    &:hover {
      @media (min-width: 1200px) {
        &:before {
          opacity: 1;
        }
      }
    }
  }

  .swiper-pagination-bullet-active {
    &:before {
      opacity: 1;
    }
  }
}

// Navigation arrows
.swiper-button-prev-custom, .swiper-button-next-custom {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 84px;
  color: $royal-blue;
  background-color: $white;
  border-radius: 50%;
  border: 1px solid $royal-blue;
  cursor: pointer;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  z-index: 4;
  svg {
    width: 17px;
    height: 28px;
  }
  &:hover {
    @media (min-width: 1200px) {
      color: $white;
      background-color: $royal-blue;
    }
  }
}

.swiper-button-prev-custom {
  top: 50%;
  left: 0;
  transform: scale(-1) translate(0, 100%);
}

.swiper-button-next-custom {
  top: 50%;
  right: 0;
  transform: translate(0, -100%);
}