@use 'variables' as *;

body {
  font: 400 16px / 1.5 $font-main;
  color: $color-text-main;
}

h1 {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  @media (min-width: 768px) {
    font-size: 32px;
    font-weight: 700;
  }
  @media (min-width: 1200px) {
    font-size: 48px;
  }
}

h2 {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  @media (min-width: 768px) {
    font-size: 32px;
    font-weight: 700;
  }
}

h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  @media (min-width: 1200px) {
    font-size: 25px;
  }
}