// Colors
$gray: #6C6C72;
$white: #FFFFFF;
$black: #232233;
$royal-blue: #5956E9;

// Fonts
$josefin: 'Josefin Sans', 'Helvetica', 'Arial', sans-serif;

// Final vars
$font-main: $josefin;
$color-text-main: $gray;
